.container {
  display: flex;
  align-items: flex-start;
  animation: fadeIn 0.5s ease-in-out;
  margin: 0px !important;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}