.formContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 20px;
}

.list {
  position: relative;
  margin-bottom: var(--mantine-spacing-md);
  background-color: #6c757d36;
  padding: 3px;
  border-radius: var(--mantine-radius-md);
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.indicator {
  background-color: var(--mantine-color-white);
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mantine-color-gray-2);
  box-shadow: var(--mantine-shadow-sm);
  
  @mixin dark {
    background-color: var(--mantine-color-dark-6);
    border-color: var(--mantine-color-dark-4);
  }
}

.tab {
  z-index: 1;
  font-weight: 600;
  transition: color 100ms ease;
  color: var(--color-text-secondary);
  text-align: center;
  padding: 10px 50px;
  width: 100%;
  max-width: 500px;
  flex: 1;

  &[data-active] {
    color: var(--mantine-color-black);
  }

  @mixin dark {
    color: var(--mantine-color-dark-1);

    &[data-active] {
      color: var(--color-text-black);
    }
  }
}

.title {
    color: var(--color-text-black) !important;
    font-weight: bold !important;
}

.description{
    color: var(--color-text-secondary) !important;
}

.tabsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel {
    width: 100%;
    max-width: 500px;
}