.dashboardPage {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.chartsContainer {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 0px 10px 0px;
}

.chart {
  flex: 1 1 320px;
  min-width: 800px;
  height: 250px;
}