.backgroundContainer {
    width: 100%;
    height: 100vh; 
    background-image: url('./../../../assets/images/background-login.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    overflow: hidden;
}

.backgroundContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    background-color: rgba(255, 255, 255, 0.808);
}

.contentCenter {
    z-index: 2;
    position: relative; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding: 20px;
}

.icon {
    color: var(--color-primary-accent);
    margin-bottom: 5px;
}

.mainTitle {
    color: var(--color-text-black) !important; 
    font-weight: 700 !important;
    margin-bottom: 0 !important;
}

.subTitle {
    color: var(--color-text-secondary) !important;
    font-weight: 600 !important;
}

.titleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}